.imgPremio {
    max-width: 500px;  
    width: auto;
    
    border-radius: 8px;
}

.uf {
    left: 5%;
    width: 15%;
    
}




.cadastro-container{
    width: 100%;
    max-width: 1050px;
    height: 100%;
    margin: 5% auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe5ac;
    border-radius: 8px;
    
}

.cadastro-container section.form {
    width: 100%;
    max-width: 300px;
    margin-right: 50px;
    margin-left: 50px;
    
}

.aviso {
    color:red;
    font-size: 14px;
}

@media only screen and (max-device-width: 900px){

    
    
    .cadastro-container{
        
        width:  80%;
        height: auto;
        margin-right: 10%;
        display: block;
        align-items: center;
        
        background-color: #ffe5ac;
        border-radius: 8px;
        
        
        
    }

    .cadastro-container section.form {
        
    
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;

        height: auto;
    
        
    }
    
    .img-Heroi{
        max-width: 100%;
        margin-right: 50px;
        height: auto;
    }

    .imgPremio {
        max-width: 100%;  
        width: auto;
        
        border-radius: 8px;
    }

    .segundoForm{
        max-width: 80%; 
        height: auto;
    }

    .uf {
    left: 5%;
    width: 10%;
    }

   
    

}